[Unit]
Description=xmorph rootfs pivot
Documentation=https://github.com/ananthb/xmorph
After=rescue.target
Wants=network-online.target
Requires=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/bin/xmorph pivot --systemd-mode --force
CacheDirectory=xmorph
RuntimeDirectory=xmorph
TimeoutStartSec=infinity
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=rescue.target
